

 
 .home{ 
    width:100%;
    /* height: 90dvh; */
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    color: white;
    padding: .1em 6em;
    justify-content: space-between;
    /* background-color: red; */
}
 
.cont1{
    background-color: rebeccapurple;
    padding: 1rem;
}
.bx-cont{
    /* background-color: limegreen; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bx1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: tan; */
    /* width: 100%; */
}
 /* DETAILS  */
 .detail-sec{
    /* background-color: yellow; */
 }
.detail-cont{
    /* background-color: rebeccapurple; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*  HERO IMAGE  */
.hero-cont{
    /* width: 100%; */
    padding: 1rem;
}

.hero-cont img{
    width: 100%;
}




@media (max-width: 768px) {
    .home{ 
    grid-template-columns:1fr;
    padding: 2em;
    } 
}









